<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>Home - Snippetbox</title>
    </head>
    <body>
        <header>
            <h1><a href='/'>CONTACTS</a></h1>
        </header>
        <main>
            <p>There's nothing to see here yet!</p>
        </main>
    </body>
</html>
